Repository gastromatic/easybill-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore(release): 1.3.17 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  160f625fe155cf34ffef4ff66c829b453c44ce51
Due: none

chore(release): 1.3.18 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e295e05c7d10f18c45f7ce1438151f404b9d307d
Due: none

chore(release): 1.3.19 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  131674cf1d95759b04fe1bf0a0631ce6069a24e4
Due: none

chore(release): 1.3.20 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cd0d8343497faa35c1ea7a723190c7a25bf96872
Due: none

chore(release): 1.3.21 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  449b017d0df350814dc4a121e02ea4d37ed727bc
Due: none

chore(release): 1.3.22 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  64c63f93e311effdbdd24da076d2a7bb2e7994b3
Due: none

chore(release): 1.3.23 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bc08c72aa6d414890e4290db518888370bccb218
Due: none

chore(release): 1.3.24 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ac0f708ce229714313c52c345bd8f38901f0b95c
Due: none

chore: handle axios error
  src/base/Requestable.ts
Due: eslint, prettier --write

chore(release): 1.3.25 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b36166593c7d4361d7e39d47855fe55a465e33ea
Due: none

chore(release): 1.3.26 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ac51725dea0ac3b1d767e97876188b9fae827006
Due: none

chore(release): 1.3.27 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  57f4e2acd09efca89cf86407dfe1ab285dbbb04a
Due: none

chore(release): 1.3.28 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  317c57e321d7767be796c9939e8abc1288199960
Due: none

chore(release): 1.3.29 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fc501a38692fc68e0c745a16d4a3ae07033af543
Due: none

Notes added by 'git notes add'
  f7b0b1d854ccf1e9d251d12494e3701efec69d30
Due: none

chore(release): 1.3.30 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.3.31 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e83c353a3b28f4369722abd8b31720def81c82d2
Due: none

chore(release): 1.3.32 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8b4c1e9b86544c0c814b72a3f896e4e6f31efffa
Due: none

chore(release): 1.3.33 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c0bdfa6771dd6074a1cdf392f052565aac0bc6a3
Due: none

chore(release): 1.3.34 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e9561ccaecbffd5fc787fe5c22b555e658c3b8ec
Due: none

chore(release): 1.3.35 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6a6dacb791a6666cb5476f55eb18ca84c2f0f062
Due: none

chore(release): 1.3.36 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.{ts,json}
