Repository gastromatic/easybill-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Notes added by 'git notes add'
  5ec525ccc410bba3f8054b5913320a3469effef5
Due: none

chore(release): 1.3.37 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4ee0a3e917a36c3d24409e4485426d10e89240ee
Due: none

chore(release): 1.3.38 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  59d8e5e7b217184309ddfc19f487569372224c59
Due: none

chore(release): 1.3.39 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  51850e6a35e4c826ecf39d54c5af056aced1abee
Due: none

fix: update deps
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.3.40 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  77572a10a40e8d911995a890553271cea400eb74
Due: none

chore(release): 1.3.41 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5bc652162592c2a1cf6cf57a8d7e6de242c3c913
Due: none

Added use_text_from_template to cancelDocument endpoint
  src/document/api.ts
Due: eslint, prettier --write

Update api.ts
  src/document/api.ts
Due: eslint, prettier --write

Update package.json
  package.json
Due: prettier --write

revert
  package.json
Due: prettier --write

feat: update api types
  .commitlinrc.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .husky/commit-msg
  .husky/pre-commit
  package.json
  src/generated/types.ts
  yarn.lock
Due: eslint, prettier --write

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e45700280f7bfa8a86d86a1c027438fdba6b9e87
Due: none

chore(release): 2.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1b4e70010294ea476ce58747654e426b0e2d3996
Due: none

chore(release): 2.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  629d444fc308c5b3e6eba2563f545342860786ad
Due: none

chore(release): 2.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2239b5d0b2febbfb6ee47d29dfd48a5c5695ac33
Due: none

chore(release): 2.0.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e15d1c963f0010338fb404badb15dc6badd222da
Due: none

chore(release): 2.0.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fc8f9095c814064f3a90ec9568893153bb3b6237
Due: none

chore(release): 2.0.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  698e8a4b6d7851430181c07e7d86f4256161b51b
Due: none

chore(release): 2.0.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  30aab69a6ac8e07d4ce7e59f3185e979e1afef9b
Due: none

chore(release): 2.0.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f53e2602a841d003c4699fab5556471a7df69b44
Due: none

chore(release): 2.0.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6be58ae5745f7ea339496f176da5e87bf13b54b7
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.{ts,json}
