Repository gastromatic/easybill-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore(deps): update devdependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update amannn/action-semantic-pull-request action to v4.4.0
  .github/workflows/pr.yml
Due: none

feat: add customer group api
  src/customerGroup/api.ts
  src/index.ts
  src/types/customerGroup.ts
  src/types/index.ts
Due: eslint, prettier --write

feat: add customer group api (#93)
  src/customerGroup/api.ts
  src/index.ts
  src/types/customerGroup.ts
  src/types/index.ts
Due: eslint, prettier --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  df60802de3e06fe2a5d4b5c675f914d5fd540a72
Due: none

fix: renaming customer group api
  src/index.ts
Due: eslint, prettier --write

fix: renaming customer group api (#94)
  src/index.ts
Due: eslint, prettier --write

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a1c4afddb1ce98f097dbb240b45873bf067e638a
Due: none

feat: add payment tasks and position api
  src/documentPayment/api.ts
  src/index.ts
  src/position/api.ts
  src/positionGroup/api.ts
  src/task/api.ts
  src/types/documentPayment.ts
  src/types/index.ts
  src/types/position.ts
  src/types/positionGroup.ts
  src/types/task.ts
Due: eslint, prettier --write

fix(deps): update dependency axios to ^0.27.0
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5695575bfa1801035fa186aa4c0b52515fa0bfd1
Due: none

chore(deps): update amannn/action-semantic-pull-request action to v4.5.0
  .github/workflows/pr.yml
Due: none

chore(deps): update dependency husky to v8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update actions/github-script action to v6.1.0
  .github/workflows/main.yml
Due: none

chore(deps): update actions/setup-node action to v3.2.0
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

chore(deps): update devdependencies to v17
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.{ts,json}
