Repository gastromatic/easybill-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.yml:

'*.ts': eslint
'*.{ts,json}': prettier --write

chore(deps): update devdependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v13
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update actions/setup-node action to v3.3.0
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

chore(deps): update wagoid/commitlint-github-action action to v5
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

fix: update to axios v1
  src/base/Requestable.ts
Due: eslint, prettier --write

chore(release): 1.3.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0735126d7d150635eab4d026c336a151fc9c32d8
Due: none

chore: update renovate reviewers
  .github/renovate.json
Due: prettier --write

chore(release): 1.3.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  be7882ac3bc7f427a9fc72217d54c7939cfb6557
Due: none

fix: use node 18 for github workflows
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

chore(release): 1.3.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1223a114286d36f16c4772fcbd9ce3748bbb6a91
Due: none

chore: update lock file
  yarn.lock
Due: none

chore(release): 1.3.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e340eecc1fac80e5392ed18fe61cbe60f78b70f8
Due: none

chore(release): 1.3.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  30c7a36467bad7777df2a0c85f4d227bf40b9efc
Due: none

chore(release): 1.3.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ca75f6b50ff0807e2024849dfc8ff8922e7534d0
Due: none

chore(release): 1.3.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d4dc3426f0439adc7b7c0f86de90aa157b4deef6
Due: none

chore(release): 1.3.10 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e6a4574df546f08afc723923c9304d4d729f8933
Due: none

chore(release): 1.3.11 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9ac146d25fc9904c15b6a22cea5a803697df798c
Due: none

chore(release): 1.3.12 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f0e141dc9c85e7a48b873677323e4e2d43bf5d8d
Due: none

chore(release): 1.3.13 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e160705735b11855cdfd72ba0281f2caa22315b3
Due: none

chore(release): 1.3.14 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  53faf589af926d02c5122c7feae127e8fb9978d1
Due: none

chore(release): 1.3.15 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  96079c3a44ceaa036113010910a33344ee419197
Due: none

chore(release): 1.3.16 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  59d0a64b1a75f58a09c8b35094801f98731100d6
Due: none
