Repository gastromatic/easybill-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

refactor: create singleton easybill
  src/index.ts
Due: eslint, prettier --write

chore: update actions/github-script to v5
  .github/workflows/main.yml
Due: none

fix: update actions/github-script to v5
  .github/workflows/main.yml
Due: none

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f21c04d3d2e940e3b3872d513de0d049c48d9c00
Due: none

chore(deps): update dependencies (non-major)
  .github/workflows/main.yml
  .github/workflows/pr.yml
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update devdependencies
  package.json
  yarn.lock
Due: prettier --write

fix: check api key before returning easybill client instance
  src/index.ts
Due: eslint, prettier --write

fix(deps): update dependency axios to ^0.23.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependencies (non-major)
  .github/workflows/pr.yml
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @types/node to v16
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update devdependencies to v14
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update devdependencies to v5.3.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v12
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update devdependencies to v15
  package.json
  yarn.lock
Due: prettier --write

fix: axios type
  src/base/Requestable.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.{ts,json}
