Repository gastromatic/easybill-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore(deps): update amannn/action-semantic-pull-request action to v4.1.0
  .github/workflows/pr.yml
Due: none

chore(deps): update actions/github-script action to v6
  .github/workflows/main.yml
Due: none

chore(deps): update dependencies (non-major)
  .github/workflows/pr.yml
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update devdependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update devdependencies to v5.12.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update actions/setup-node action to v3
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

chore(deps): update actions/checkout action to v3
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

chore(deps): update actions/cache action to v3
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

chore(deps): update actions/setup-node action to v3.1.0
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

feat: allow one instance per apiKey to exist instead of only one
  src/index.ts
Due: eslint, prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  83b6128d3b577c3c127083b4a0884cee1b060d12
Due: none

fix: instantiate new instanceMap on EasybillClient
  src/index.ts
Due: eslint, prettier --write

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d01b8770879b78b228676cf04bbd417033b05c0d
Due: none

chore(deps): update dependencies (non-major)
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.{ts,json}
