Repository gastromatic/easybill-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.yml:

'*.ts': eslint
'*.{ts,json}': prettier --write

chore: update main.yml
  .github/workflows/main.yml
  .npmignore
  tsconfig.json
Due: prettier --write

feat: setup repository (#1)
  .commitlinrc.yml
  .eslintignore
  .eslintrc.json
  .github/CODEOWNERS
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .gitignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yml
  .npmignore
  .prettierrc.yml
  .releaserc.yml
  LICENSE
  README.md
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
Due: eslint, prettier --write

feat: add easybill client
  .eslintignore
  package-lock.json
  package.json
  src/base/EasybillError.ts
  src/base/Requestable.ts
  src/base/ResultList.ts
  src/customer/api.ts
  src/document/api.ts
  src/generated/types.ts
  src/index.ts
  src/logger/index.ts
  src/types/customer.ts
  src/types/document.ts
  src/types/index.ts
  src/utils/catchAsyncAxios.ts
  src/utils/index.ts
Due: eslint, prettier --write

fix: add correct version syntax to github release workflow
  .github/workflows/main.yml
Due: none

fix: resolve typescript warnings
  src/logger/index.ts
Due: eslint, prettier --write

fix: switch from npm to yarn
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  ff4f19f2c92872e47f0da7a6959cf9547f00930c
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fa1332fce266a90acec3c374e1d63838d3759cbf
Due: none

chore: add renovate.json
  renovate.json
Due: prettier --write

chore: add renovate bot
  .github/renovate.json
  renovate.json
Due: prettier --write

chore(deps): update wagoid/commitlint-github-action action to v4
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update actions/setup-node action to v2.2.0
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

chore(deps): update devdependencies
  package.json
  yarn.lock
Due: prettier --write

fix: increase waiting time bottlenek
  src/base/Requestable.ts
Due: eslint, prettier --write

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d5c7c047fe1a49f49a5c815910aa435abd3503db
Due: none

fix: resolve unhandled rejection promise
  src/base/Requestable.ts
  src/utils/catchAsyncAxios.ts
  src/utils/index.ts
Due: eslint, prettier --write

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c6a22ef9acf8c7afc6c7a05bebf0dca402fed944
Due: none

chore(deps): update actions/setup-node action to v2.3.0
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none
