Repository gastromatic/easybill-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.yml:

'*.ts': eslint
'*.{ts,json}': prettier --write

chore(deps): update devdependencies to v13
  package.json
  yarn.lock
Due: prettier --write

feat: exporting types
  src/index.ts
  src/types/document.ts
Due: eslint, prettier --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7fdca06c58b6c040f73f8877222395676279f35a
Due: none

chore(deps): update amannn/action-semantic-pull-request action to v3.4.1
  .github/workflows/pr.yml
Due: none

chore(deps): update devdependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update actions/setup-node action to v2.4.0
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

chore(deps): update devdependencies to v4.29.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependencies (non-major)
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

fix: add correct responseType for pdf download
  src/base/Requestable.ts
  src/document/api.ts
Due: eslint, prettier --write

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e8a15ad97b65272ddee793d60c2087dc6b828f32
Due: none

chore(deps): update actions/github-script action to v4.1.1
  .github/workflows/main.yml
Due: none

chore(deps): update devdependencies to v4.31.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update semantic-release
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update actions/github-script action to v5
  .github/workflows/main.yml
Due: none
